body{
    background-color: whitesmoke;
}
.tagline{
    font-family: "Caveat", cursive;
    font-size: large;
    color: #b30059;
}
h1{
    text-align: center;
    color: #800040;
    font-size: 40px;
    font-family: sans-serif;
}
.sweet-shop{
    width: 350px;
    height: 250px;
    margin-top: 25px;
    margin-left: 140px;
    border: solid black;
}
.sweets{
    display: flex;
}
.shop-description{
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 40px;
    color:darksalmon;
}