body{
    background-color: whitesmoke;
}
.sweet-shop{
    width: 350px;
    height: 250px;
    margin-top: 25px;
    margin-left: 140px;
    border: solid black;
}
.sweets{
    display: flex;
}
.shop-description{
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 40px;
    color:darksalmon;
}
.our-qualities{
    font-family:cursive;  
    margin-top: 70px; 
    color:#c54920;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.qualities{
    background-color:#ffccb3;
    width: 160px;
    height: 190px;
    padding: 12px 12px;
    border-radius: 8px;
    margin: 20px;
    border:solid black;
}
.quality-img{
    height: 90px;
    width: 70px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}
.main-btn{
    margin-top: 60px;
    margin-left:600px;
    padding: 10px;
    background-color:#fbeee9;
    border:solid #9a3919;
    text-decoration: none;
    border-radius: 20px;
    box-shadow:0px 0px 6px black;
}
a{
    text-decoration: none;
    color: #9a3919;
    font-size: 15px;
}
.main-btn:hover{
    background-color:#f8dcd3;
    box-shadow:0px 0px 9px black;
}

