.text-center{
    text-align: center;
}
.font-cursive{
    font-family: cursive;
}
h1{
    color: #9a3919;
    font-size: 40px;
    font-family: sans-serif;
}
.tagline{
    font-family: "Caveat", cursive;
    font-size: large;
    color:#db5224;
}
.font-28{
    font-size: 28px;
}
footer{
    margin-top: 40px;
}
h2{
    color:#9a3919;
}
.about{
    margin: 25px 20px;
}
.about-us{
    margin-left: 25px;
}
.contact{
    margin: 25px 20px;
}
.contact a{
    text-decoration: none;
}